{% for venue in venues %}
     <div id="sc_2_item">
        <h1>{{ venue.name }} </h1>

       <a href="/venue/{{ venue.pk }}" style="text-align: center!important; background: none;" >
{% load cropping %}
<div style="position: relative;">
    <img  src="{% cropped_thumbnail venue "cropping" scale=0.5 %}"></a>
        <div style="height: 30px!important;  width: 30px;   position: absolute; top: 0px; right: 0px; background: #fff;">
            <a href="" class="dashed">QR</a>
        </div>
</div>

        <div style="height: 25px;  width: 224px; color: #666666; font-size: 14px; position: absolute; bottom: 0px;">

        <div style="float: left; border-bottom: 1px dotted;">like</div>
        <div >
            Загруженность:
        <div id="sc_2_percent_red">90%</div>
        </div>
        </div>
    </div>

{% endfor %}

