

<footer >
<div id="footer">
    <ul style="padding-left: 20px;">
        <li><a href="">О сервисе</a></li>
        <li><a href=""> Информация об оплате</a></li>
        <li><a href="">Обратная связь</a></li>
        <li><a href="">Решение проблем</a></li>
    </ul>
    <ul style="line-height: 50%;">
        <li class="enter"><a href="" >Вход</a></li>
        <li><a href="">для пользователей</a></li>
        <li><div style="height: 15px;"></div></li>
        <li class="enter"><a  href="" >Вход</a></li>
        <li><a href="">для рестораторов</a></li>
    </ul>
    <ul style="margin-left: 55px;">
        <li>Скачать приложение:</li>
        <li><a href=""><img src="/static/images/AppStore.png" /></a></li>
        <li><a href=""><img src="/static/images/Google-Play.png" /></a></li>
    </ul>
    <ul>
        <li>В социальных сетях:</li>
        <li><img  style="padding-left:20px;" height="40px" src="/static/images/fb_top.png" /><img style="padding-left:10px;" height="40px" src="/static/images/inst_top.png" /></li>
    </ul>
</div>

<span id="cr">© ООО "ЭниТейбл". Перепечатка возможна только с указанием ссылки на проект.</span>

</footer>
<div style="height: 100px;"></div>