<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" /> 
	<meta name="author" content="gencyolcu" />
    
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
  $(function() {
      var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
  });
   $(function() {
    $( "#tabs" ).tabs();
  });

    $(document).ready(function(){

        getVenues(1);

    })
        function getVenues(type){
            $("#venues").empty().append("<div id='preloader'></div>");

            url = "/query/type/" + type;
             $.ajax({
                type:'GET',
                url:url,
                data:"",
                dataType:'html'
            }).done(function(data){
                   $("#venues").empty().append(data);
            }).fail(function(data){
                console.log("AJAX ERROR");
            });

        }


  </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<title>Any Table</title>
</head>

<body >
    <div id="main">
   {% block content %}
   {% endblock %}

<footer >
<div id="footer">
    <ul style="padding-left: 20px;">
        <li><a href="">О сервисе</a></li>
        <li><a href=""> Информация об оплате</a></li>
        <li><a href="">Обратная связь</a></li>
        <li><a href="">Решение проблем</a></li>
    </ul>
    <ul style="line-height: 50%;">
        <li class="enter"><a href="" >Вход</a></li>
        <li><a href="">для пользователей</a></li>
        <li><div style="height: 15px;"></div></li>
        <li class="enter"><a id="venueAdminLink" onclick="openDialog('#venueAdminDialog');" >Вход</a></li>
        <li><a href="">для рестораторов</a></li>
    </ul>
<div id="venueAdminDialog" title="ВХОД" style="display: none;">
        <input type="text" placeholder="E-MAIL" name="email" id="ven_ad_email"/>
        <input type="password" placeholder="ПАРОЛЬ" name="password" id="ven_ad_password"/>
        <div class="cl" style="height: 30px;"></div>
        <!--<a href="">ОЙ, Я ЗАБЫЛ ПАРОЛЬ!</a><br />-->
        <input type="button"  value="ВОЙТИ" onclick="logInVenAd();"/>
       <!--
        Войти через социальные сети:<br />
        <div style=" width: 100%; margin:0 auto; margin-top: 15px ;  ">
            <img height="60px" src="/static/images/fb_top.png" />
            <img height="60px" src="/static/images/twitter_top.png" />
            <img height="60px" src="/static/images/inst_top.png" />
        </div>
        -->
        <div style="position: absolute; bottom: 100px;  height: 30px; background: #fff;"></div>
</div>
    <script>
         function openDialog(targetDiv) {
        $(targetDiv).dialog({
		modal: true,
		autoOpen: false,
        closeOnEscape: true,
        dialogClass: "no-close",
        resizable: false,
        open: function(){

                jQuery('.ui-widget-overlay').bind('click',function(){
                jQuery(targetDiv).dialog('close');
                jQuery(targetDiv).val("");

               })
              }
			});
      };

            jQuery("#venueAdminLink").on("click", function() {
			     var targetDiv;
				 jQuery('#venueAdminDialog').dialog("open");
                openDialog(targetDiv);
		    });


        function logInVenAd(){
    var email = $('#ven_ad_email').val();
    var password = $('#ven_ad_password').val();
    url = '/query/admin/venueadministratorauth/';

    $.ajax({
        type: 'POST',
                url: url,
                data: 'email='+email+'&password='+password,
                dataType: 'html',
                success: function(response){

                         window.location = '/venueadministrator/';

                },
                error:  function(){
                    alert('wrong');
                }


    });
}
    </script>
    <ul style="margin-left: 55px;">
        <li>Скачать приложение:</li>
        <li><a href=""><img src="/static/images/AppStore.png" /></a></li>
        <li><a href=""><img src="/static/images/Google-Play.png" /></a></li>
    </ul>
    <ul>
        <li>В социальных сетях:</li>
        <li><img  style="padding-left:20px;" height="40px" src="/static/images/fb_top.png" /><img style="padding-left:10px;" height="40px" src="/static/images/inst_top.png" /></li>
    </ul>
</div>


<span id="cr">© ООО "ЭниТейбл". Перепечатка возможна только с указанием ссылки на проект.</span>

</footer>
<div style="height: 100px;"></div>
</div>
</body>
</html>