{% extends "layout_inner.html" %}

{% block content %}
  <style>
  .asd {
    color: #333;
    float: left;
    margin-right: 20px;
  }
  .asd input {
    border: 1px solid red !important;
    margin-right: 10px;

  }
  .asd2 {
    margin-bottom: 10px;
  }
  .asd2 input {
    margin-right: 10px;
  }
#upload{
    display:none
}
#hint{
    float: right;
    height: 20px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #000;
    padding-left: 25px;
    background: url("/static/images/15_20px_preloader.gif") left no-repeat;
}
.addEventDiv{
    position: relative;
    display: block!important;
    height: 240px;

}

label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
    display:inline-block;
    border:1px solid #fd7c51;
    border-radius:0px;
    width:12px;
    height:12px;
   /* background:#F55;*/
    vertical-align:middle;
    background: #fff url('/static/images/checkbox_bg_12px.png') left top no-repeat;
    margin:3px;
    text-align:center;


}
label.checkbox :checked + span {
     background:url('/static/images/checked_bg_checked_12px.png') left top no-repeat;

}
label.checkbox span:before {
    background: #fff url('/static/images/checkbox_bg_12px.png') left top no-repeat;
    vertical-align:middle;
}
label.checkbox :checked + span:before {

        background:url('/static/images/checked_bg_checked_12px.png') left top no-repeat;
}

  </style>

<script>
    //(document).ready(function(){            });
    function updateItem(item){
        var item = item;
         $(item).on('focus', function(){
            $('<span>saved</span>').remove();
        });
           $(item).focusout(function(){
               var val = $(this).val();
               if(!$('<p>saved</p>').length);{
               $('<p>saved</p>').insertAfter(this).delay(2000).fadeOut();

               }
 // return false; //to prevent the browser actually following the links!
});
    }

    $(document).ready(function(){

        $('input[name="venue_option"]').on('change', function(){
            var venueid = $('#venue_pk_int').val();
            var option_id = $(this).val();
            url = '/query/admin/update_venue_options/';
            $.ajax({
                type: 'POST',
                url: url,
                data: 'venueid='+venueid+'&option_id='+option_id,
                dataType: 'html',
                success: function(response){

                     $('<div id="hint"></div>').insertBefore('#div_venue_options').delay(400).fadeOut();
                }
            });

        });


        $('input[name="venue_type"]').on('change', function(){
            var venueid = $('#venue_pk_int').val();
            var type_id = $(this).val();
            url = '/query/admin/update_venue_type/';
            $.ajax({
                type: 'POST',
                url: url,
                data: 'venueid='+venueid+'&type_id='+type_id,
                dataType: 'html',
                success: function(response){

                     $('<div id="hint"></div>').insertBefore('#div_venue_types').delay(400).fadeOut();
                }
            });

        });


$('input[name="venue_kitchen"]').on('change', function(){
            var venueid = $('#venue_pk_int').val();
            var kitchen_id = $(this).val();
            url = '/query/admin/update_venue_kitchen/';
            $.ajax({
                type: 'POST',
                url: url,
                data: 'venueid='+venueid+'&kitchen_id='+kitchen_id,
                dataType: 'html',
                success: function(response){

                     $('<div id="hint"></div>').insertBefore('#div_venue_kitchens').delay(400).fadeOut();
                }
            });

        });

        $('#email').on('focusout', function(){
            var myemail = $('#email').val();
           // var mysomething = $('#email').val();
            var venue_pk = $('#venue_pk_int').val();

            url = '/query/admin/updatevenueemail/';
        $.ajax({
            type: "POST",
            url: url,
            data: "email="+myemail+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#email').delay(400).fadeOut();

            }
        });


        });

        $('#website').on('focusout', function(){
            var website = $('#website').val();
           // var mysomething = $('#email').val();
            var venue_pk = $('#venue_pk_int').val();

            url = '/query/admin/updatevenuesite/';
        $.ajax({
            type: "POST",
            url: url,
            data: "website="+website+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#website').delay(400).fadeOut();

            }
        });


        });

        $('#facebook').on('focusout', function(){
            var facebook = $('#facebook').val();
           // var mysomething = $('#email').val();
            var venue_pk = $('#venue_pk_int').val();
            url = '/query/admin/updatevenuefb/';
        $.ajax({
            type: "POST",
            url: url,
            data: "facebook="+facebook+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#facebook').delay(400).fadeOut();

            }
        });


        });

        $('#twitter').on('focusout', function(){
            var twitter = $('#twitter').val();
           // var mysomething = $('#email').val();
            var venue_pk = $('#venue_pk_int').val();
            url = '/query/admin/updatevenuetwitter/';
        $.ajax({
            type: "POST",
            url: url,
            data: "twitter="+twitter+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#twitter').delay(400).fadeOut();

            }
        });
        });

        $('#instagram').on('focusout', function(){
            var instagram = $('#instagram').val();
            var venue_pk = $('#venue_pk_int').val();
            url = '/query/admin/updatevenueinstagram/';
        $.ajax({
            type: "POST",
            url: url,
            data: "instagram="+instagram+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#instagram').delay(400).fadeOut();

            }
        });
        });

        $('#vk').on('focusout', function(){
            var vk = $('#vk').val();
            var venue_pk = $('#venue_pk_int').val();
            url = '/query/admin/updatevenuevk/';
        $.ajax({
            type: "POST",
            url: url,
            data: "vk="+vk+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

              $('<div id="hint"></div>').insertAfter('#vk').delay(400).fadeOut();

            }
        });
        });


        $('#description').on('focusout', function(){
            var description = $('#description').val().trim();
            var venue_pk = $('#venue_pk_int').val();
            url = '/query/admin/updatevenuedescription/';
        $.ajax({
            type: "POST",
            url: url,
            data: "description="+description+"&venue="+venue_pk,
            dataType:'html',
            success: function(data){

             $('<div id="hint"></div>').insertAfter('#description').delay(400).fadeOut();


            }
        });
        });

        $('#addEventLink').on('click', function(){
               $('#addEventDiv').fadeIn('slow').addClass('addEventDiv');
        });

    });


function editLogo(){
 var form = document.getElementById('editLogoForm');
  var formData = new FormData(form);
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/venueupdatelogo/", true);

  xhr.send(formData);
  //var frm = document.getElementById('formcontent');
  xhr.onreadystatechange = function(data) {
      img = this.response
        $('#logoImg').fadeOut('fast', function(){
            $(this).attr('src', '/static/uploads/'+img).fadeIn('fast');
        });
  };

  return true;
}

function addImg() {
  var form = document.getElementById('addImgForm');
  var formData = new FormData(form);
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/venueaddimg/", true);

  xhr.send(formData);
  var frm = document.getElementById('formcontent');
  xhr.onreadystatechange = function() {
 window.location = '/admin/anytable_v1/venueadministrator/{{ user.pk }}'
  };

  return true;
}

function delImg(id){
        url = '/query/admin/deleteimg/'+id;
        $.ajax({
            type: "GET",
            url: url,
            data: '',
            dataType:'html',
            success: function(data){
                $('#venueimg_'+id).fadeOut('fast', function(){
                    $(this).remove();
                });


            }
        });
    }

function addEvent(){
  var form = document.getElementById('addEvImgForm');
  var formData = new FormData(form);
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/addevent/", true);
  xhr.send(formData);
  xhr.onreadystatechange = function(data) {
    //   alert(this.response);
     var id = this.response;

    window.location.hash   = '#event_28';
      window.location.reload(true)

  };

  return true;
}

function deleteEvent(eventid){
    var eventid = eventid;
    url = '/query/admin/deleteevent/';
    $.ajax({
        type: "POST",
        url: url,
        data: "eventid="+eventid,
        dataType: 'html',
        success: function(){

            $('#event_'+eventid).fadeOut('1000', function(){
                $(this).remove();
            });
            //$('#event_'+eventid).remove();
           // window.location = '/admin/anytable_v1/venueadministrator/{{ user.pk }}'
        }
    });
}

function updateEvent(eventid){
    var eventTitle = $('#eventTitle_'+eventid).val().trim();
    var eventDescription = $('#eventDescription_'+eventid).val().trim();
    //alert(eventid+' '+eventTitle+' '+eventDescription);
    var url = '/query/admin/updateevent/';
    $.ajax({
        type: 'POST',
        url: url,
        data: 'eventid='+eventid+'&eventtitle='+eventTitle+'&eventdescription='+eventDescription,
        dataType: 'html',
        success: function(data){
           $('<div id="hint"></div>').insertAfter('#eventTitle_'+eventid).delay(400).fadeOut();
        }
    });
}

function updateEventImg(eventid){
    var form = document.getElementById('eventUpdateForm_'+eventid);
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/query/admin/updateeventimg/", true);
    xhr.send(formData);
    xhr.onreadystatechange = function(data) {
        img = this.response;

        $('#eventimg_'+eventid).fadeOut('fast', function(){
            $(this).attr('src', '/static/uploads/'+img).fadeIn('fast');
        });

}}

function actIv(id){
    $(id).click();
}


function hideShow(div){
    $(div).slideToggle("slow");
}
    </script>
  <div>

<script src="/static/js/jquery.fileupload.js"></script>

<input type="hidden" id="venue_pk_int" value="{{ user.venue.pk }}">
    <div style="width: 612px;float: left;" >
      <div>
<form id="editLogoForm" name="editLogoForm" enctype="multipart/form-data"  method="post" action=""> {% csrf_token %}
    <div style="position: relative; width: 260px;height: 176px; margin-right: 10px;float: left;margin-bottom: 10px;">
        {% if user.venue.image %}
        <img id="logoImg" src="/static/uploads/{{ user.venue.image }}" width="260px;" height="176px;">
        {% else %}
        <img  src="/static/images/logo.png" width="260px;" height="176px;">
        {% endif %}
        <img src="/static/images/edit.png" style="position: absolute; z-index: 1; top: 5px; right: 5px; " onclick="actIv('#logoupload');">
        <input type="file" style="display: none;" id="logoupload"  name="logoupload" onchange="editLogo();"/>
        <input type="hidden"  name="venuepk" value="{{ user.venue.pk  }}">

</form>

        </div>
{% for image in images %}
         <div id="venueimg_{{ image.pk }}" style="position: relative; width: 125px; height: 84px; float: left;margin-right: 10px;margin-bottom: 10px;">
            <img src="/static/uploads/{{ image.image }}" style="width:125px;height:84px; ">
            <img src="/static/images/delete.png" style="position: absolute; z-index: 1; top: 5px; right: 5px;" onclick="delImg({{ image.pk }});">
         </div>
{% endfor %}


<div id="formcontent">

<form id="addImgForm" name="addImgForm" enctype="multipart/form-data"  method="post" action=""> {% csrf_token %}
        <a   id="upload_link" onclick="actIv('#fileupload');"  style="display: block;width:125px;height:84px;background: #dfdfdf;float: left;margin-right: 10px;margin-bottom: 10px;font-size: 32px;color: #fff;text-align: center;line-height: 84px;text-decoration: none;" >
        +
        </a>
    <input type="file" style="display: none;" id="fileupload"  name="fileupload" onchange="addImg();"/>

    <input type="hidden"  name="venuepk" value="{{ user.venue.pk  }}">

</form>

</div>
        <div class="cl"></div>
      </div>
  <div style="float:  left; font-size: 14px; font-weight: bold;">Options:</div><br />
    <div id="div_venue_types" style="float:  left;margin-left: 20px;">

          {% for type in types %}
            {% if type in venuetypes %}
             <div class="asd"><label class="checkbox"><input type="checkbox" name="venue_type" value="{{ type.pk }}" checked /><span></span>{{ type.name }}</label></div>
            {% else %}
              <div class="asd"><label class="checkbox"><input type="checkbox" name="venue_type" value="{{ type.pk }}"  /><span></span>{{ type.name }}</label></div>
            {% endif %}
          {% endfor %}


        <div class="cl"></div>
      </div>
  <div class="cl"></div>
    <div style="height: 10px;"></div>
   <div style="float:  left; font-size: 14px; font-weight: bold;">Options:</div><br />
      <div id="div_venue_options"  style="float:  left;margin-left: 20px;">
          {% for option in options %}
            {% if option in venueoptions %}
              <div class="asd"><label class="checkbox"><input type="checkbox" name="venue_option" value="{{ option.pk }}" checked /><span></span>{{ option.name }}</label></div>
            {% else %}
              <div class="asd"><label class="checkbox"><input type="checkbox" name="venue_option" value="{{ option.pk }}"  /><span></span>{{ option.name }}</label></div>
            {% endif %}
          {% endfor %}


        <div class="cl"></div>
      </div>
<div class="cl"></div>
      <div style="height:  10px;"></div>

      <div>
        <div style="float:  left; font-size: 14px; font-weight: bold;">Кухня:</div>
       <div id="div_venue_kitchens" style="float:  left;margin-left: 20px;">

         {% for kitchen in kitchens %}

              {% if kitchen in venuekitchens %}
              <div class="asd"><label class="checkbox"><input type="checkbox"  name="venue_kitchen" value="{{ kitchen.pk }}"  checked /><span></span>{{ kitchen.name }}</label></div>
              {% else %}
              <div class="asd"><label class="checkbox"><input type="checkbox"  name="venue_kitchen" value="{{ kitchen.pk }}"  checked /><span></span>{{ kitchen.name }}</label></div>

              {% endif %}

{% endfor %}

        </div>

<!--
        <div style="float:  left;margin-left: 20px;">
          <div class="asd2"><input type="checkbox" />Китайская</div>
          <div class="asd2"><input type="checkbox" />Мексиканская</div>
          <div class="asd2"><input type="checkbox" />Таджикская</div>

        </div>
-->
        <div class="cl"></div>
      </div>


    </div>
  <style>
      .right_col div{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px!important;

      }
  </style>
      <div style="width: 412px;float: right;text-align: right;" class="right_col">

      <div style="color: #ff6633;font-size:24px;">{{ user.venue.name }}</div>
      <div>{{ user.venue.address }}</div>
      <div>Время работы: {{ user.venue.schedule }}</div>
      <div>Тел. : {{ user.venue.tel }}</div>

      <div>e-mail:<input id="email" type="textfield" value="{{ user.venue.email }}" style="border: 0px;border-bottom: 1px solid #ff6633;font-size: 18px;margin-left:10px;color: #ff6633;" /></div>
      <div >web:<input type="textfield" id="website" value="{{ user.venue.website }}" style="border: 0px;border-bottom: 1px solid #ff6633;font-size: 18px;margin-left:10px;color: #ff6633;" /></div>

      <div>Facebook:<input type="textfield" id="facebook" value="{{ user.venue.facebook_url }}" style="border: 0px;border-bottom: 1px solid #999999;font-size: 18px;margin-left:10px;color: #999;" /></div>
      <div >Twitter:<input type="textfield"  id="twitter" value="{{ user.venue.twitter }}" style="border: 0px;border-bottom: 1px solid #999999;font-size: 18px;margin-left:10px;color: #999;" /></div>
      <div>Instagram:<input type="textfield" id="instagram" value="{{ user.venue.instagram }}" style="border: 0px;border-bottom: 1px solid #999999;font-size: 18px;margin-left:10px;color: #999;" /></div>
      <div >ВКонтакте:<input type="textfield" id="vk" value="{{ user.venue.vk_url }}" style="border: 0px;border-bottom: 1px solid #999999;font-size: 18px;margin-left:10px;color: #999;" /></div>

      </div>

    <div class="cl"></div>
  <div style="font-size: 14px; font-weight: bold;">
          <textarea id="description" style="font-size: 12px;padding: 10px;border: 1px solid #ff6633;width: 90%; height: 150px;">
 {{ user.venue.description }}
        </textarea>


  </div>
  </div>

  <div class="cl" style="height: 20px;"></div>


<div>
    <div style="height: 42px;background: #999999;color: #fff;font-size: 24px;line-height: 42px;padding-left: 10px;">
    Афиша
      <a  style="display: block;width: 24px;height: 24px;background: url('/static/images/z1.png') left top no-repeat;float: right;margin-right: 20px;margin-top: 8px;" onclick="hideShow('#eventsMainDiv');"></a>
      <div class="cl"></div>
    </div>
<div id="eventsMainDiv">
 <div style="height: 42px;line-height: 42px;">
      <a id="addEventLink" style="margin-left: 10px;text-decoration: none;color: #666;font-style: italic;border-bottom: 1px solid #666;">Добавить</a>

    </div>
<div id="addEventDiv" style="display: none; margin-bottom: 40px;">
 <div style="position: relative; width: 170px;height: 240px;background: yellow;float: left;" >

     <form id="addEvImgForm" name="addEvImgForm" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
        <input type="hidden" name="venuepk" id="venuepk" value="{{ user.venue.pk }}">

         <input type="file" style="display: none;" id="eventimg" name="eventimg" onchange="addEvent();">

     <a   id="upload_link" onclick="actIv('#eventimg');"  style="position: absolute; top: 70px; left:25px; display: block;width:125px;height:84px; float: left;margin-right: 10px;margin-bottom: 10px;font-size: 82px;color: #fff;text-align: center;line-height: 84px;text-decoration: none;" > +</a>
      </form>

 </div>

      <div style="width: 430px;margin-left: 20px;float: left;">
        <input type="textfield" disabled placeholder="Event Title.." style="width: 430px;border: 0px;border-bottom: 1px solid #ff6633;color: #ff6633;font-size: 18px;font-style: italic;" />
        <div style="height: 10px;"></div>
        <textarea disabled style="font-size: 12px;padding: 10px;border: 1px solid #ff6633;width: 410px;height: 180px;" placeholder="Event Description"></textarea>
      </div>

      <div style="position: relative; float:  left;margin-left: 20px;width: 380px;  height: 240px;">
        <div style="float:  left;width:40px;text-align: center;">C</div>
        <input disabled type="textfield" style="border: 0px;border-bottom: 1px solid #ff6633;width: 150px;font-size: 18px;float: left;color: #ff6633;" />
        <div style="float:  left;width:40px;text-align: center;">ПО</div>
        <input disabled type="textfield" style="border: 0px;border-bottom: 1px solid #ff6633;width: 150px;font-size: 18px;float: left;color: #ff6633;" />

        <div class="cl"></div>
          <ul style="position: absolute; left:20px; bottom: 0px; list-style: none; ">
              <li style="float: left;"><img src="/static/images/delete_180x45.png" ></li>
              <li style="float: left;"><img src="/static/images/save_180x45.png"></li>
          </ul>
        </div>

      <div class="cl"></div></div>
{% for event in events %}
<div id="event_{{ event.pk }}" style=" margin: 0px 0px 40px 0px;" ><a name="event_{{ event.pk }}"></a>
<form id="eventUpdateForm_{{ event.pk }}" name="eventUpdateForm_{{ event.pk }}" enctype="multipart/form-data"  method="post" action=""> {% csrf_token %}
    <input type="hidden" name="eventid" value="{{ event.pk }}">
    <input type="file" id="updateeventimg_{{ event.pk }}" name="updateeventimg" style="display:none;"  onchange="updateEventImg({{ event.pk }})">
      <div style="position:relative; width: 170px;">
        <img  src="/static/images/edit.png" style="position: absolute; z-index: 1; top: 5px; right: 5px; " onclick="actIv('#updateeventimg_'+{{ event.pk }});">
        <img id="eventimg_{{ event.pk }}" style="width: 170px;height: 240px;background: yellow;float: left;" src="/static/uploads/{{ event.image }}">
      </div>

      <div style="width: 430px;margin-left: 20px;float: left;">
        <input type="textfield" id="eventTitle_{{ event.pk }}" name="eventTitle_{{ event.pk }}" value="{{ event.title }}"  style="width: 430px;border: 0px;border-bottom: 1px solid #ff6633;color: #ff6633;font-size: 18px;font-style: italic;" />
        <div style="height: 10px;"></div>
        <textarea id="eventDescription_{{ event.pk }}" name="eventDescription_{{ event.pk }}" style="font-size: 12px;padding: 10px;border: 1px solid #ff6633;width: 410px;height: 180px;">{{ event.description }}</textarea>
      </div>

      <div style="position: relative; float:  left;margin-left: 20px;width: 380px;  height: 240px;">
        <div style="float:  left;width:40px;text-align: center;">C</div>
        <input type="textfield" style="border: 0px;border-bottom: 1px solid #ff6633;width: 150px;font-size: 18px;float: left;color: #ff6633;" />
        <div style="float:  left;width:40px;text-align: center;">ПО</div>
        <input type="textfield" style="border: 0px;border-bottom: 1px solid #ff6633;width: 150px;font-size: 18px;float: left;color: #ff6633;" />

        <div class="cl"></div>
          <ul style="position: absolute; left:20px; bottom: 0px; list-style: none; ">
              <li style="float: left;"><img src="/static/images/delete_180x45.png" onclick="deleteEvent({{ event.pk }});"></li>
              <li style="float: left;"><img src="/static/images/save_180x45.png" onclick="updateEvent({{ event.pk }});"></li>
          </ul>
        </div>

      <div class="cl"></div>
</form>
</div>

{% endfor %}
</div>
  </div>
  <div class="cl" style="height: 20px;"></div>
{% endblock %}
